<form method="post" action="{{ path('honk_pizza_delete', {'id': honk_pizza.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ honk_pizza.id) }}">
    <button class="btn">Delete</button>
</form>
