{% extends 'base.html.twig' %}

{% block title %}Edit HonkPizza{% endblock %}

{% block body %}
    <h1>Edit HonkPizza</h1>

    {{ include('honk_pizza/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('honk_pizza_index') }}">back to list</a>

    {{ include('honk_pizza/_delete_form.html.twig') }}
{% endblock %}
