{% extends 'base.html.twig' %}

{% block title %}HonkPizza index{% endblock %}

{% block body %}
    <h1>HonkPizza index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for honk_pizza in honk_pizzas %}
            <tr>
                <td>{{ honk_pizza.id }}</td>
                <td>{{ honk_pizza.name }}</td>
                <td>
                    <a href="{{ path('honk_pizza_show', {'id': honk_pizza.id}) }}">show</a>
                    <a href="{{ path('honk_pizza_edit', {'id': honk_pizza.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('honk_pizza_new') }}">Create new</a>
{% endblock %}
