{% extends 'base.html.twig' %}

{% block title %}New HonkPizza{% endblock %}

{% block body %}
    <h1>Create new HonkPizza</h1>

    {{ include('honk_pizza/_form.html.twig') }}

    <a href="{{ path('honk_pizza_index') }}">back to list</a>
{% endblock %}
