{% extends 'base.html.twig' %}

{% block title %}HonkPizza{% endblock %}

{% block body %}
    <h1>HonkPizza</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ honk_pizza.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ honk_pizza.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('honk_pizza_index') }}">back to list</a>

    <a href="{{ path('honk_pizza_edit', {'id': honk_pizza.id}) }}">edit</a>

    {{ include('honk_pizza/_delete_form.html.twig') }}
{% endblock %}
